@{
    ViewData["Title"] = "Admin";    
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="dashboard">
    <div class="deal-all">
        <p>Giao dịch</p>
        <div class="box-data"></div>
    </div>
    <div class="deal-all">
        <p>Giao dịch</p>
        <div class="box-data"></div>

    </div>
    <div class="deal-all">
        <p>Giao dịch</p>
        <div class="box-data"></div>

    </div>
    <div class="deal-all">
        <p>Giao dịch</p>
        <div class="box-data"></div>

    </div>
</section>
