
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    @* admin *@
    <link rel="stylesheet" href="~/css/backend/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/backend/login.css" asp-append-version="true" />

</head>
<header>
    <nav class="navbar">
        <div class="container-fluid">
            <button b-f1fa7youn7="" class="navbar-toggler collapsed" type="button">
                <span b-f1fa7youn7="" class="navbar-toggler-icon"></span>
            </button>
            <div class="logo-farm">
                <a href="~/">Farm</a>
                
            </div>
            <div class="navbar-collapse">
            
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a href="~/">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Introduce">Giới thiệu</a>
                    </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="News">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a>
                    </li>
                </ul>
            </div>

            <div class="authenticate">
                @{
                    if(@TempData["Result"] != null){
                        <p class="toggle-logout">@TempData["Result"]</p> 
                        <div class="box-logout"><a asp-controller="Auth" asp-action="Logout">Đăng xuất</a></div>
                    }else{
                        <a asp-controller="Auth" asp-action="Login" >Đăng nhập</a> 

                    }
                }
            </div>
        </>
    </nav>
</header>
<section class="all-admin-manage">

    <div class="content-admin">
        @RenderBody();
    </div>
</section>
@await RenderSectionAsync("Scripts", required: false)


