@{
    ViewData["Title"] = "User Manage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model LoginViewModel
    <div class="all-user-list">
        <div class="add-search-user">
            <div class="btn-add-user">
                <a href="../admin/user/add" class="btn btn-success">Thêm</a>
            </div>
            <div class="form-search">
                <input type="text" name="search-blog" id="input-6" class="form-control mb-3 ">
            </div>
            <div class="btn-search">
                <button class="search-blog-button" type="button">Tìm</button>
            </div>
        </div>
        <table class="table-user">
            <thead>
                <tr>
                    <th>
                        Họ tên
                    </th>
                    <th>
                        Tên tài khoản
                    </th>
                    <th>
                        Quyền hạn
                    </th>
                    <th>
                    Tác vụ
                    </th>
                </tr>
            </thead>
            <tbody class="blogtable">
            @foreach(var user in Model.userList)
            {
                <tr>
                    <td>
                        @user.name
                    </td>
                    <td>
                        @user.username
                    </td>
                    <td>
                        @if(@user.role ==1 ){
                            <p>Quản trị viên</p>
                        }else{
                            <p>Nhân viên</p>
                        }
                        
                    </td>
                    <td>
                        <a href="/admin/user/edit?id=@user.id" class="edit"> Sửa </a>
                        <a href="/admin/user/delete?id=@user.id" class="del"> Xóa </a>
                    
                    </td>
                </tr>
            }
            </tbody>
        </table> 
    </div>
  
<script>
     $('.search-blog-button').click(function(){
        let searchb = $('input[name="search-blog"]').val();
        $.ajax({
            type: "POST",
            url: "/admin/user/search",
            data:{
                _token: "{{ csrf_token() }}",
                "search": searchb,
            },
            statusCode: {
                200: function (data) {
                    let rlts = ''; 
                    $.each(data.arr_user, function(index, at){
                         rlts +='<tr>';
                            rlts +=' <td> '+at.name +'</td>';
                          rlts +='<td>'+at.username+'</td>';
                         rlts +='<td>'+data.role[at.role]+'</td>';
                         rlts +='<td>';
                           rlts +='<a href="/admin/user/edit?id='+at.id+'" class="edit"> Sửa </a>';
                             rlts +='<a href="/admin/user/delete?id='+at.id+'" class="del"> Xóa </a>';
                            
                            rlts +=' </td>';
                        rlts +='</tr>';
                    });
                    $('tbody.blogtable').html(rlts);
                }
            }
        });
    });
</script>

