@{
    ViewData["Title"] = "Category Manage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model LoginViewModel
    <div class="all-user-list">
        <div class="add-search-user">
            <div class="btn-add-user">
                <a href="../admin/category/add" class="btn btn-success">Thêm</a>
            </div>
            <div class="form-search">
                <input type="text" name="search-blog" id="input-6" class="form-control mb-3 ">
            </div>
            <div class="btn-search">
                <button class="search-blog-button" type="button">Tìm</button>
            </div>
        </div>
        <table class="table-user">
            <thead>
                <tr>
                    <th>
                        Tên loại
                    </th>
                    <th>
                        Id cha
                    </th>
                    <th>
                        Tác vụ
                    </th>
                </tr>
            </thead>
            <tbody class="blogtable">
            @foreach(var cate in Model.categoryList)
            {
                if(cate != null){
                    <tr>
                        <td>
                            @cate.name
                        </td>
                        <td>
                            @cate.parent_id
                        </td>
                        <td>
                            <a href="/admin/category/edit?id=@cate.id" class="edit"> Sửa </a>
                            <a href="/admin/category/delete?id=@cate.id" class="del"> Xóa </a>
                        </td>
                    </tr>
                }
              
            }
            </tbody>
        </table> 
    </div>
  
<script>
     $('.search-blog-button').click(function(){
        let searchb = $('input[name="search-blog"]').val();
        $.ajax({
            type: "POST",
            url: "/admin/category/search",
            data:{
                _token: "{{ csrf_token() }}",
                "search": searchb,
            },
            statusCode: {
                200: function (data) {
                    $('tbody.blogtable').html(data.data);
                }
            }
        });
    });
</script>

