@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div id="sync-item-banner" class="item-banner banner owl-carousel">
    @for(var i = 0; i< 4;i++){
        <img src="~/image/banner1.png" alt="logo" />
    }
</div>

 <div class="blog-all">
    @{
        foreach(var newItem in ViewBag.listNewGet){
            <div class="box-blog">
                <a href="blog?id=@newItem.id">
                    <img src="~/uploads/@newItem.image" alt="Ảnh tin tức"/>
                    <h1>@newItem.title</h1>
                    <span>@newItem.created_at.ToString("yyyy-MM-dd")</span>
                    <p>@newItem.subtit</p>
                </a>
            </div>
        }
    }
</div>