@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div id="sync-item-banner" class="item-banner banner owl-carousel">
    @for(var i = 0; i< 4;i++){
        <img src="~/image/banner1.png" alt="logo" />
    }
</div>

 <div class="blog-all">
    @for(var i = 0; i< 4;i++){
        <div class="box-blog">
            <a href="">
                <img src="~/image/banner1.png" alt="Ảnh tin tức"/>
                <h1>Abc</h1>
                <span>27/11/2025</span>
                <p>abcd'</p>
            </a>
        </div>
    }
</div>