@{
    ViewData["Title"] = "Introduce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="brand-link">
        <div class="title-contact">
            <p>Trang chủ /</p>
            <b>Giới thiệu</b>
        </div>
    </div>
    <div class="row-intro">
        <div>
            <img src="~/image/broiler-breeder-farm.png" alt="Ảnh giới thiệu nông trại">
        </div>
        <div class="text-intro">
            <h1 class="display-4">Welcome @ViewData["Title"]</h1>
            <article>
                Agriculture has been and remains central to Uganda’s economic growth and poverty reduction accounting for close to 73% of total employment for citizens of Uganda. 
                The government and different projects have come out to support the sector to increase productivity of farmers. 
                This is to help them grow from substance farming to commercialized agriculture.
                However, farmers have faced a problem of lack of markets for their produces which has affected them greatly.
                It’s against this background that we setup Webfarm solution as a platform that links farmers to the markets. 
                Webfarm Awega CDMS is an ICT enabled platform connecting different players in the agricultural value chain with the aim of creating market linkages & improve household incomes.
            </article>
        </div>
    </div>
</div>
